* {
    margin: 0;
    padding: 0;
}


.container {
    width: 1200px;
    height: 580px;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

.tavern {
    width: 100%;
    height: 100%;
}

.back {
    position: absolute;
    top: 45%;
}

.back:hover {
    background-color: khaki;
}

.guilda-background {
    width: 100%;
    height: 100%;
}

.missao {
    position: absolute;
    left: 50%;
    top: 53%;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

.missao:hover {
    background-color: rgb(138, 138, 138);
    cursor: pointer;
}

#missaoConteudo {
    display: none;
    position: absolute;
    width: 50%;
    height: 200px;
    padding: 30px;
    background-color: rgb(138, 138, 138);
    color: white;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    text-shadow: 1px 1px 1px black;
    text-align: center;
}

.button {
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: black;
    background-color: white;
    border: none;
}

.button:hover {
    background-color: black;
    color: white;
}