* {
    margin: 0;
    padding: 0;
}


.container {
    width: 90%;
    height: 580px;
    margin: auto;
    margin-top: 20px;
    position: relative;
    background-image: url(/images/main.png);   
    background-repeat: no-repeat;
    background-size: cover;
}



.back {
    position: absolute;
    top: 45%;
}

.back:hover {
    background-color: khaki;
}